.contact-page {
  background-image: url("blurb.jpg");
  background-size: cover;
  padding-top: 5%;
  padding-bottom: 5%;
}

.contact-block {
  font-size: 2rem;
  /* background-color: #3583A7; */
  background-color: pink;
  color: white;
  width: 25%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
}
