.timer-block {
  /*background-image: url("krishna.png"); */
  background-color: black;
  background-size: cover;
  width: 100%;
  padding-top: 15%;
  padding-bottom: 15%;
}

.inner-circle{
  position: relative;
  display: block;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border-style: solid;
  border-width: 20px;
  border-color: white;
  background-color: rgba(0, 0, 0, 0);
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
}

.timer-countdown {
  font-size: 20rem;
  color: white;
  margin-top: 15%;
  margin-bottom: 15%;
}

.timer-settings {
  width: 100%;
  text-align: center;
  color: white;
}

.timer-settings > h1 {
  font-size: 4rem;
}

.timer-settings > div {
  font-size: 3rem;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.timer-settings > div > select {
  font-size: 3rem;
}

.timer-settings > div > i {
  padding-left: 5%;
  padding-right: 5%;
}
